:root {
  --padding-base: 20px 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: rgb(0, 17, 255);
}

i,
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #ebebeb radial-gradient(circle, transparent 1%, #e6e6e6 1%)
    center/15000%;
}
.ripple:active {
  background-color: #888888;
  background-size: 100%;
  transition: background 0s;
}

i {
  border-radius: 50%;
  padding: 3px;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}
