@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/elevation/mdc-elevation';
@import '@material/icon-button/mdc-icon-button';
@import '~tippy.js/dist/tippy';
@import '~mdc-data-table/mdc-data-table';

.mdc-card {
  padding: 1rem;
}

.mdc-data-table__cell:first-of-type {
  @include mdc-data-table__cell;
}

.mdc-data-table__cell:last-of-type {
  border-right: solid black 1px;
}

.mdc-data-table__cell {
  padding-left: 0.5rem;
  border: solid black 1px;
  border-right: 0px;
}

.mdc-data-table__content {
  border-collapse: unset;
}
