$animation-duration-opacity: 0.5s;

@keyframes appear-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
