@import 'icons.scss';
@import 'card.scss';
@import 'style.scss';
@import 'root.scss';
@import 'colors.scss';
@import 'fonts.scss';

.bioHead,
.bioCell {
  padding: 5px;
}

.bioHead {
  font-size: 20px;
  padding: 10px 5px;
  padding-top: 0px;
}

.bioTable {
  display: block;
  width: 70%;
  margin-bottom: 10px;
}

.bioRow {
  display: table-row;
  clear: both;
  width: 100%;
}

.bioCell {
  display: table-cell;
  white-space: nowrap;
  padding-right: 25px;
  padding-bottom: 8px;
}

.bioProperty {
  vertical-align: top;
  color: rgb(91, 91, 91);
  font-weight: bold;
  font-size: 16px;
}

.bioValue {
  font-size: 14px;
  vertical-align: bottom;
}
