@import '@material/elevation/mdc-elevation';
@import 'icons.scss';
@import 'bio.scss';
@import 'card.scss';
@import 'style.scss';
@import 'root.scss';
@import 'colors.scss';
@import 'fonts.scss';
@import 'animations.scss';
@import 'node_modules/mathsass/dist/math';

$height-change: -4px;
$width-change: -20px;

$visits-info-right-margin: 60px;
$calendar-cell-phone-number-top-offset: 2px;
$left-marker-width: 3px;
$move-back-duration: 0.5s;
$points-circle-size: 25px; // 30px;
$visits-count-margin: 2px;
$calendar-avatar-diameter: 50px; // + $height-change;
$calendar-cell-width: 300px + $width-change;
$calendar-cell-width-real: $calendar-cell-width + $thin-border-size * 2;
$calendar-cell-height: 70px + $height-change;
$calendar-cell-height-real: $calendar-cell-height + $thin-border-size * 2;
$person-cell-primary-info-width: (
  $calendar-cell-width - $padding-normal * 4 - $calendar-avatar-diameter -
    $points-circle-size
);
$calendar-cells-per-page: 3;
$calendar-cell-padding: 10px;
$add-cell-button-left-margin: 27px;
$add-cell-button-right-margin: 35px;
$add-cell-button-width: 26px;
$initial-table-width: ($calendar-cell-width) * $calendar-cells-per-page;

:export {
  calendarCellWidth: $calendar-cell-width;
  calendarCellWidthReal: $calendar-cell-width-real;
  calendarCellHeight: $calendar-cell-height;
  calendarCellHeightReal: $calendar-cell-height-real;
}

:root {
  --calendar-cell-width: #{$calendar-cell-width};
  --calendar-cell-width-real: #{$calendar-cell-width-real};
}

.calendar-footer {
  margin-left: $padding-card + $padding-normal * 2 - $thin-border-size;
  padding-top: $padding-normal * 2;
  // padding-bottom: $padding-normal * 2;
  display: inline-block;
}

.calendar-footer .primary-info {
  @extend .font-header-bold;
}

.calendar-footer .secondary-info {
  @extend .font-secondary;
  vertical-align: top;
}

.calendar-header {
  $p-l: $padding-card + $padding-normal * 2;
  padding-left: $p-l;
  margin: 0;
  // padding-top: $padding-normal * 2;
  // padding-bottom: $padding-normal * 2;
  // display: inline-block;
  display: flex;
  justify-content: space-between;
  width: calc(100% - #{$p-l} - #{$padding-card} - #{$visits-info-right-margin});
  position: relative;
}

.calendar-header .primary-info {
  @extend .font-header-bold;
}

.calendar-header .secondary-info {
  @extend .font-secondary;
  vertical-align: top;
}

.calendar-header .visits-info {
  @extend .font-primary;
  float: right;
  display: flex;
  flex-direction: column-reverse;
}

.calendar-header .visits-info .visits-info-potential {
  margin-right: 24px;
}

.calendar-day:focus {
  outline: none;
}

.calendar-day {
  overflow: hidden;
}

.calendar-card {
  // padding-bottom: $padding-normal * 4;
  position: relative;

  overflow: hidden;
  margin: -$padding-card;
  margin-bottom: $padding-card;
  // width: auto;
}

.calendar-day-divider {
  margin-top: $padding-normal * 2;
}

.calendar-table {
  @extend .non-selectable;

  display: block;
  table-layout: fixed;
  overflow-x: hidden;
  white-space: nowrap;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-right: $padding-card;
  margin-left: $padding-card;
  margin-top: -$padding-normal * 2;
  padding-bottom: $thin-border-size;
  padding-left: $thin-border-size * 2;
  padding-top: 0;
  width: $initial-table-width;

  // width: 100%;

  // FIXIT: fix bug with little zoom (~70%) when right border disappears
}

.calendar-table-title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
}

.calendar-table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.calendar-table-row {
  display: table-row;
  overflow: hidden;
}

.calendar-table-row.positions {
  // position: sticky;
  // top: 0;

  position: relative;
  display: table-row;
  background: white;
  z-index: 100;
}

.calendar-table-cell {
  @extend .calendar-border;
  display: table-cell;
  white-space: nowrap;
  position: relative;
  // height: $calendar-cell-height;
  padding: 0;

  transition: opacity 0.5s;
  opacity: 1;
}

.calendar-table-cell.hidden + .calendar-table-cell {
  border-right: none;
}

.calendar-table-cell.draggingOrigin.hidden {
  transition: background 0.5s, opacity 0.5s, border-color 0.5s;
  opacity: 1;
  border-color: transparent;
}

.calendar-table-cell.hidden {
  transition: background 0.5s, opacity 0.5s, border-color 0.5s;
  opacity: 0;
  border-color: transparent;
}

.calendar-border {
  border: dotted $color-secondary-border;
  border-width: $thin-border-size;
}

// FIXIT: not working dot-dash style
.calendar-additional-border {
  position: absolute;
  // background: none;
  pointer-events: none;
  left: -$thin-border-size;
  top: -$thin-border-size;
  right: -$thin-border-size;
  bottom: 0px;
  border: dashed $color-secondary-border;
  border-width: $thin-border-size;
}

.calendar-table-cell.positionCell {
  @extend .font-primary-semibold;

  border: none;
  // outline: none;
  padding-left: $padding-normal * 2;
  // padding-bottom: $padding-normal * 2;
  height: $padding-card;
  line-height: $padding-card;
  // width: var(--calendar-cell-width);

  // here you can control if non-first headers will be displayed
  // display: none;

  .calendar-table.first & {
    display: table-cell;
  }
}

.calendar-table-cell.timeCell {
  @extend .font-primary-semibold;

  border: none;
  // outline: none;
  // padding-left: 0;
  // padding-left: 0; //$padding-normal;
  // padding-right: $padding-normal * 2;
  text-align: center;
  position: absolute;
  // width: $padding-card;
  left: 0; //$padding-card / 4;
  height: $calendar-cell-height;
  width: $padding-card;
}

.secondaryTime {
  @extend .font-secondary-little;
  vertical-align: top;
}

.calendarCell-container {
  padding-left: $calendar-cell-padding;
  padding-right: $calendar-cell-padding;
  display: flex;
  justify-content: left;
  height: $calendar-cell-height;
}

.personCell {
  background: transparent;
  transition: background 0.5s;
  position: relative;
}

.personCell .leftMarker {
  position: absolute;
  left: -$thin-border-size;
  top: 0px;
  bottom: 0px;
  width: $left-marker-width;
  background: $color-mark-default;
}

.personCell.isDragging {
  position: fixed;
  box-shadow: 10px 10px 30px 4px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease-in-out; //, background 0.5s;
  background: $color-calendar-cell-background;
  z-index: 999;
}

.personCell.readyToBeDropped {
  background: $color-calendar-cell-ready-to-be-dropped;
  transition: background 0.5s;
}

.personCell.movingBack {
  transition: all $move-back-duration, background 0.5s;
  pointer-events: none;
}

.calendarCell.readyToGetDrop {
  background: $color-calendar-cell-ready-to-get-drop;
  transition: background 0.5s;
}

.calendarCell {
  // position: relative;
  display: inline-block;
  text-align: center;
  transition: background 0.5s;
  width: var(--calendar-cell-width);
  max-width: var(--calendar-cell-width);
  // height: $calendar-cell-height;
  animation: appear-animation $animation-duration-opacity;
}

.calendarCell .wrapper-block {
  display: inline-block;
  text-align: center;
}

.calendarCell .wrapper-block.text-block {
  position: relative;
  left: 0;
}

.calendarCell .wrapper-block.points-block {
  position: absolute;
  height: 100%;
  right: $padding-normal;
}

.content-block {
  // make it centered vertically
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.calendarCell .text-info {
  display: inline-block;
  text-align: left;

  // position: relative;
  // text-align: left;
  // transform: translateY(25%);

  /*
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid black;
  */
}

.calendarCell .text-info .primary-info {
  @extend .font-primary-semibold;
  width: $person-cell-primary-info-width;
  display: inline-block;
}

.calendarCell .text-info .primary-info .primary-info-block {
  // white-space: nowrap;
  //   display: inline-block;
  float: left;
  // width: auto;
}

.calendarCell .text-info .primary-info .visitsCount {
  @extend .font-secondary-little-semibold;
  margin-left: $visits-count-margin;
  margin-right: $visits-count-margin;
  padding: 0;
  color: black;
  vertical-align: top;
}

.calendarCell .text-info .primary-info .grade {
  @extend .font-primary-bold;
}

.calendarCell .text-info .secondary-info {
  @extend .font-secondary-middle;
  clear: both;
  margin-top: $calendar-cell-phone-number-top-offset;
}

.calendar-table-cell.draggingOrigin {
  border-style: dashed;
  border-width: $thin-border-size;
  border-color: $color-dragging-origin-cell-border;
  // outline-style: dashed;
}

.calendar-table-cell.locked {
  $lines-count: 10;
  $line-width: $thin-border-size;
  $step: $thin-border-size * 10;
  $space-between: (var(--calendar-cell-width) / ($lines-count));
  $angle: 45deg;

  background-image: repeating-linear-gradient(
    -$angle,
    #ccc,
    #ccc $thin-border-size,
    transparent $thin-border-size,
    transparent $step
  );
}

.calendarCell.draggingOrigin {
  margin: -$thin-border-size;
  box-shadow: inset 0 0 0 $thin-border-size $color-select-border;
}

.calendarCell .points {
  @extend .font-points-circle;

  display: inline-block;

  width: $points-circle-size;
  max-width: $points-circle-size;
  height: $points-circle-size;
  // padding: $padding-normal;
  border-radius: 50%;

  // TODO: make it normally
  // font-size: $points-circle-size / 4; //11pt
  line-height: $points-circle-size;
  font-weight: bold;

  text-align: center;

  background: $color-calendar-points-background;
}

.avatar {
  @extend .avatar;

  .calendarCell & {
    $m: ($calendar-cell-height - $calendar-avatar-diameter) / 2;
    width: $calendar-avatar-diameter;
    height: $calendar-avatar-diameter;
    object-fit: cover;
    margin-left: 0;
    margin-top: $m;
    margin-bottom: $m;
    margin-right: $calendar-cell-padding;
    display: inline-block;
  }
}

.calendar-table-cell.readyToAdd {
  // border: $thin-border-size * 3 solid $color-select-border;
  // box-sizing: border-box;
  // border-collapse: collapse;
  // outline: $thin-border-size solid $color-select-border;
  // outline-offset: -$thin-border-size;
  background: $color-select-background;
}

.calendar-table-cell.readyToAdd:active {
  background: $color-select-tap-background;
}

.readyToAddCell .content-block {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.readyToAddCell {
  // border: $thin-border-size solid $color-select-border;
  // box-sizing: border-box;
  // border-collapse: collapse;

  margin: -$thin-border-size;
  box-shadow: inset 0 0 0 $thin-border-size $color-select-border;

  height: $calendar-cell-height-real;
  width: var(--calendar-cell-width-real);
  position: absolute;
  text-align: center;
  left: 0px;
  top: 0px;
  // animation: appear-animation $animation-duration-opacity * 2// ease-in-out;
}

.readyToAddCell .content-block .addButton {
  position: absolute;
  color: $color-select-border;
  left: $add-cell-button-left-margin;
  font-size: $add-cell-button-width;

  margin-left: -1 * get-negative-margin-plus-icon($add-cell-button-width);
  padding: 0;
}

.readyToAddCell .content-block .text {
  @extend .font-secondary;
  position: absolute;
  left: $add-cell-button-left-margin + $add-cell-button-right-margin +
    $add-cell-button-width -
    get-negative-margin-plus-icon($add-cell-button-width);
  // margin-left: -$add-cell-button-width;
}
