@import 'root.scss';

$calendar-positions-per-page: 4;
$calendar-time-stamps-count: 8;
$calendar-cell-width: 300px;
$calendar-cell-height: 70px;
$calendar-time-cell-width: $padding-card;
$calendar-cell-border-width: $thin-border-size;
$calendar-main-width-start: $calendar-cell-width * 5;

.calendarTable {
  --calendar-main-width: #{$calendar-main-width-start};

  display: grid;
  position: relative;

  grid-template-areas:
    'time wrapper'
    'time wrapper';

  grid-template-columns: $calendar-time-cell-width auto;
  grid-template-rows: $calendar-cell-height auto;

  margin-right: $padding-card;
  margin-left: $padding-card;
  padding-bottom: $thin-border-size;

  .wrapper {
    --positions-count: 10;

    display: grid;
    grid-area: wrapper;

    grid-template-columns: auto;
    grid-template-rows: $calendar-cell-height auto;

    box-shadow: 0 0 0 1px black;

    grid-template-areas:
      'positions'
      'main';

    overflow: hidden;

    .positionsRow {
      display: grid;
      grid-area: positions;

      // grid-template-columns: repeat(var(--positions-count), auto);
      grid-template-rows: repeat(auto-fit, $calendar-cell-height);
      grid-auto-columns: 1fr;

      width: var(--calendar-main-width);

      .item {
        grid-row: 1;
      }
    }

    .mainGrid {
      display: grid;
      grid-area: main;

      grid-template-columns: repeat(var(--positions-count), auto);
      grid-template-rows: repeat(auto-fit, $calendar-cell-height);

      width: var(--calendar-main-width);
    }
  }

  .timeColumn {
    display: grid;
    grid-area: time;

    .item {
      display: flex;
      height: $calendar-cell-height;
    }
  }

  .item {
    display: grid;
    background: lightgray;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    // border: solid black 1px;
    box-shadow: 0 0 0 1px black;
  }
}
