@import '@material/elevation/mdc-elevation';
@import 'bio.scss';
@import 'card.scss';
@import 'style.scss';
@import 'root.scss';
@import 'colors.scss';
@import 'fonts.scss';

$move-back-duration: 1s;
$points-circle-size: 0.7em;
$time-cell-width: 4em;
$calendar-cell-width: 15em;
$calendar-cell-height: 4em;
$calendar-cells-per-page: 3;

.calendar-footer {
  margin-left: $time-cell-width + $padding-normal * 2;
  padding-top: $padding-normal;
}

.calendar-footer .primary-info {
  @extend .font-header;
}

.calendar-footer .secondary-info {
  @extend .font-secondary;
  vertical-align: text-top;
}

.calendar-card {
  padding-bottom: $padding-normal * 4;
  position: relative;
}

.calendar-day-divider {
  margin-top: $padding-normal * 2;
}

.calendar-table {
  @extend .non-selectable;

  display: block;
  table-layout: fixed;
  overflow-x: hidden;
  white-space: nowrap;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-right: 0px;
  margin-left: $time-cell-width;
  width: ($calendar-cell-width + $thin-border-size) * $calendar-cells-per-page +
    $thin-border-size;

  // FIXIT: fix bug with little zoom (~70%) when right border disappears
}

.calendar-table-title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
}

.calendar-table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.calendar-table-row {
  display: table-row;
}

.calendar-table-cell {
  @extend .calendar-border;
  display: table-cell;
}

.calendar-border {
  border: solid $color-secondary-border;
  border-width: $thin-border-size;
}

.calendar-table-cell.positionCell {
  border: none;
  padding-left: $padding-normal * 2;
  padding-bottom: $padding-normal;
  // here you can control if non-first headers will be displayed
  // display: none;

  .calendar-table.first & {
    display: table-cell;
  }
}

.calendar-table-cell.timeCell {
  border: none;
  padding-left: 0;
  text-align: left;
  position: absolute;
  width: $time-cell-width;
  left: $time-cell-width / 4;
  height: $calendar-cell-height;
}

.secondaryTime {
  @extend .font-secondary;

  color: gray;
}

.personCell {
  background: white;
  padding-left: $padding-normal;
  padding-right: $padding-normal;
  display: flex;
  justify-content: space-between;
  transition: background 0.5s;
  height: $calendar-cell-height;
}

.personCell:hover {
  background: $color-hover;
  transition: background 0.5s;
}

.personCell.isDragging {
  @extend .elevation-normal;
  transition: box-shadow 0.3s ease-in-out, background 0.5s;
  z-index: 999;
  position: absolute;
}

.personCell.readyToBeDropped {
  background: rgb(241, 247, 255);
  transition: background 0.5s;
}

.personCell.movingBack {
  transition: all $move-back-duration, background 0.5s;
  pointer-events: none;
}

.calendarCell.readyToGetDrop {
  background: rgba(191, 210, 255, 0.3);
  transition: background 0.5s;
}

.calendarCell {
  text-align: center;
  transition: background 0.5s;
  width: $calendar-cell-width;
  height: $calendar-cell-height;
}

.calendarCell .wrapper-block {
  display: inline-block;
  text-align: center;
}

.content-block {
  // make it centered vertically
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.calendarCell .text-info {
  display: inline-block;
  position: relative;
  text-align: left;
  transform: translateY(25%);
}

.calendarCell .text-info .primary-info {
  @extend .font-primary;
}

.calendarCell .text-info .secondary-info {
  @extend .font-secondary;
  color: lightgray;
}

.calendar-table-cell.draggingOrigin {
  border-style: dashed;
  border-width: $thin-border-size;
}

.calendarCell .points {
  $padding-rate: 1.15;
  $max-points-digits: 2;
  $left-margin: $padding-normal;
  $circle-size: $points-circle-size * ($padding-rate * 2);

  // make it centered vertically

  border-radius: 50%;

  width: $circle-size;
  height: $circle-size;
  padding: $circle-size * ($padding-rate - 1);

  background: rgba(221, 221, 221, 0.514);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $points-circle-size;

  margin-left: $left-margin;
}

.avatar {
  @extend .avatar;

  .calendarCell & {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    display: inline-block;
  }
}

.calendar-table-cell.readyToAdd {
  border: $thin-border-size solid $color-select-border;
  background: $color-select-background;
  border-style: double;
}

.readyToAddCell {
  display: inline-block;
  position: relative;
  text-align: left;
  height: $calendar-cell-height;
}
