@import '@material/elevation/mdc-elevation';
@import 'bio.scss';
@import 'card.scss';
@import 'style.scss';
@import 'root.scss';
@import 'colors.scss';
@import 'fonts.scss';
@import 'animations.scss';

$move-back-duration: 1s;
$points-circle-size: $padding-normal * 3.3;
$calendar-cell-width: 15em;
$calendar-cell-height: 3.7em;
$calendar-cells-per-page: 3;
$calendar-cell-padding: $padding-normal;
$calendar-avatar-diameter: $padding-normal * 5.6;

.calendar-footer {
  margin-left: $padding-card + $padding-normal * 2;
  padding-top: $padding-normal * 2;
  // padding-bottom: $padding-normal * 2;
  display: inline-block;
}

.calendar-footer .primary-info {
  @extend .font-header;
}

.calendar-footer .secondary-info {
  @extend .font-secondary;
  vertical-align: text-top;
}

.calendar-day:focus {
  outline: none;
}

.calendar-card {
  // padding-bottom: $padding-normal * 4;
  // position: relative;
  overflow: hidden;
  margin: -$padding-card;
  margin-bottom: $padding-card;
  // width: auto;
}

.calendar-day-divider {
  margin-top: $padding-normal * 2;
}

.calendar-table {
  @extend .non-selectable;

  display: block;
  table-layout: fixed;
  overflow-x: hidden;
  white-space: nowrap;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-right: $padding-card;
  margin-left: $padding-card;
  padding-top: 0;
  width: ($calendar-cell-width + $thin-border-size) * $calendar-cells-per-page +
    $thin-border-size;

  // FIXIT: fix bug with little zoom (~70%) when right border disappears
}

.calendar-table-title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
}

.calendar-table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.calendar-table-row {
  display: table-row;
  overflow: hidden;
}

.calendar-table-cell {
  @extend .calendar-border;
  display: table-cell;
  white-space: nowrap;
  // height: $calendar-cell-height;
  padding: 0;
}

.calendar-border {
  border: dotted $color-secondary-border;
  border-width: $thin-border-size;
}

.calendar-table-cell.positionCell {
  border: none;
  padding-left: $padding-normal * 2;
  // padding-bottom: $padding-normal * 2;
  height: $padding-card;
  line-height: $padding-card;
  // here you can control if non-first headers will be displayed
  // display: none;

  .calendar-table.first & {
    display: table-cell;
  }
}

.calendar-table-cell.timeCell {
  border: none;
  // padding-left: 0;
  // padding-left: 0; //$padding-normal;
  // padding-right: $padding-normal * 2;
  text-align: center;
  position: absolute;
  // width: $padding-card;
  left: 0; //$padding-card / 4;
  height: $calendar-cell-height;
  width: $padding-card;
}

.secondaryTime {
  @extend .font-secondary;

  color: gray;
}

.calendarCell-container {
  padding-left: $calendar-cell-padding;
  padding-right: $calendar-cell-padding;
  display: flex;
  justify-content: space-between;
  height: $calendar-cell-height;
}

.personCell {
  background: white;
  transition: background 0.5s;
}

.personCell.isDragging {
  @extend .elevation-normal;
  transition: box-shadow 0.3s ease-in-out, background 0.5s;
  z-index: 999;
  position: absolute;
  // position: fixed;
}

.personCell.readyToBeDropped {
  background: rgb(241, 247, 255);
  transition: background 0.5s;
}

.personCell.movingBack {
  transition: all $move-back-duration, background 0.5s;
  pointer-events: none;
}

.calendarCell.readyToGetDrop {
  background: rgba(191, 210, 255, 0.3);
  transition: background 0.5s;
}

.calendarCell {
  // position: relative;
  text-align: center;
  transition: background 0.5s;
  width: $calendar-cell-width;
  // height: $calendar-cell-height;
  animation: appear-animation $animation-duration-opacity;
}

.calendarCell .wrapper-block {
  display: inline-block;
  text-align: center;
}

.content-block {
  // make it centered vertically
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.calendarCell .text-info {
  display: inline-block;
  position: relative;
  text-align: left;
  transform: translateY(25%);
}

.calendarCell .text-info .primary-info {
  @extend .font-primary;
}

.calendarCell .text-info .secondary-info {
  @extend .font-secondary;
  color: lightgray;
}

.calendar-table-cell.draggingOrigin {
  border-style: dashed;
  border-width: $thin-border-size;
}

.calendarCell .points {
  $padding-rate: 1.15;
  $max-points-digits: 2;
  $left-margin: $padding-normal;
  $points-font-size: $points-circle-size / ($padding-rate * 2);

  // make it centered vertically

  border-radius: 50%;

  width: $points-circle-size;
  height: $points-circle-size;
  padding: $points-circle-size * ($padding-rate - 1);

  background: rgba(221, 221, 221, 0.514);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4vw; //1px; //$points-circle-size;

  margin-left: $left-margin;
}

.avatar {
  @extend .avatar;

  .calendarCell & {
    width: $calendar-avatar-diameter;
    height: $calendar-avatar-diameter;
    margin-left: 0px;
    margin-right: $calendar-cell-padding;
    display: inline-block;
  }
}

.calendar-table-cell.readyToAdd {
  border: $thin-border-size solid $color-select-border;
  background: $color-select-background;
  // border-style: double;

  // transition: all $animation-duration-opacity * 2// ease-in-out;
}

.calendar-table-cell.readyToAdd:active {
  background: $color-select-tap-background;
}

.readyToAddCell .content-block {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.readyToAddCell {
  /*
  display: flex;
  justify-content: space-between;
  height: $calendar-cell-height;
  vertical-align: top; */
  height: $calendar-cell-height;
  width: $calendar-cell-width;
  position: absolute;
  text-align: center;
  left: 0px;
  top: 0px;
  // animation: appear-animation $animation-duration-opacity * 2// ease-in-out;
}
