@import '@material/elevation/mdc-elevation';
@import 'bio.scss';
@import 'card.scss';

$padding-horizontal: 8px;

.table {
  display: table;
  table-layout: fixed;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  border: solid lightgray;
}

.table-title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: solid lightgray;
  border-width: thin;
}

.personCell {
  background: white;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  display: flex;
  justify-content: space-between;
}

.isDragging {
  @extend .mdc-elevation--z8;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 999;
  position: absolute;
}

.calendarCell {
  //display: flex;
  //justify-content: space-between;
  text-align: center;

  // make it centered vertically
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}

.calendarCell .block {
  display: inline-block;
  text-align: center;
}

.calendarCell .text-info {
  display: inline-block;
  position: relative;
  text-align: left;
  transform: translateY(25%);
}

.calendarCell .text-info .primary-info {
  font-size: 15px;
}

.calendarCell .text-info .secondary-info {
  font-size: 10px;
  color: lightgray;
}

.calendarCell .points {
  $size: 13px;
  $padding-rate: 14;
  $left-margin: 15px;

  // make it centered vertically
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;

  width: $size;
  height: $size;
  padding: $size / 3 - $size / $padding-rate;

  background: rgba(221, 221, 221, 0.514);
  text-align: center;

  font-size: $size - $size / $padding-rate;

  margin-left: $left-margin;
}

.avatar {
  @extend .avatar;

  .calendarCell & {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    display: inline-block;
  }
}
