@import '@material/elevation/mdc-elevation';
@import 'bio.scss';
@import 'card.scss';
@import 'style.scss';

$padding-horizontal: 8px;
$move-back-duration: 1s;
$points-circle-size: 13px;
$time-cell-width: 60px;
$calendar-cell-width: 250px;
$calendar-cells-per-page: 3;
$cell-border-width: 1px;

.calendar-footer {
  margin-left: $time-cell-width + $padding-horizontal * 2;
}

.calendar-footer .primary-info {
  font-size: 20px;
}

.calendar-footer .secondary-info {
  font-size: 12px;
  color: gray;
  vertical-align: text-top;
}

.calendar-table {
  @extend .non-selectable;

  display: block;
  table-layout: fixed;
  overflow-x: hidden;
  white-space: nowrap;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: $time-cell-width;
  width: ($calendar-cell-width + $cell-border-width) * $calendar-cells-per-page +
    $cell-border-width;

  // FIXIT: fix bug with little zoom (~70%) when right border disappears
}

.calendar-table-title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.calendar-table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.calendar-table-row {
  display: table-row;
}

.calendar-table-cell {
  @extend .calendar-border;
  display: table-cell;
}

.calendar-border {
  border: solid lightgray;
  border-width: $cell-border-width;
}

.calendar-table-cell.positionCell {
  border: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 14px;
}

.calendar-table.first,
.calendar-table-cell.positionCell {
  // display: none;
}

.calendar-table-cell.timeCell {
  border: none;
  padding-right: 16px;
  padding-left: 0px;
  font-size: 14px;
  width: $time-cell-width;
  text-align: left;
  position: absolute;
  left: $time-cell-width / 2;
}

.secondaryTime {
  font-size: 10px;
  color: gray;
}

.personCell {
  background: white;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  display: flex;
  justify-content: space-between;
  transition: background 0.5s;
}

.personCell:hover {
  background: rgb(243, 243, 243);
  transition: background 0.5s;
}

.personCell.isDragging {
  @extend .mdc-elevation--z8;
  transition: box-shadow 0.3s ease-in-out, background 0.5s;
  z-index: 999;
  position: absolute;
}

.personCell.readyToBeDropped {
  background: rgb(241, 247, 255);
  transition: background 0.5s;
}

.personCell.movingBack {
  transition: all $move-back-duration, background 0.5s;
  pointer-events: none;
}

.calendarCell.readyToGetDrop {
  background: rgba(191, 210, 255, 0.3);
  transition: background 0.5s;
}

.calendarCell {
  text-align: center;
  transition: background 0.5s;
  width: $calendar-cell-width;
}

.calendarCell .block {
  display: inline-block;
  text-align: center;
}

.calendarCell .text-info {
  display: inline-block;
  position: relative;
  text-align: left;
  transform: translateY(25%);
}

.calendarCell .text-info .primary-info {
  font-size: 15px;
}

.calendarCell .text-info .secondary-info {
  font-size: 10px;
  color: lightgray;
}

.calendarCell .points {
  $padding-rate: 25;
  $left-margin: 15px;

  // make it centered vertically
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;

  width: $points-circle-size;
  height: $points-circle-size;
  padding: $points-circle-size / 2 - $points-circle-size / $padding-rate;

  background: rgba(221, 221, 221, 0.514);
  text-align: center;

  font-size: $points-circle-size - $points-circle-size / $padding-rate;

  margin-left: $left-margin;
}

.avatar {
  @extend .avatar;

  .calendarCell & {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    display: inline-block;
  }
}
