@import 'root.scss';

$calendar-positions-per-page: 4;
$calendar-time-stamps-count: 8;
$calendar-cell-width: 300px;
$calendar-cell-height: 70px;
$calendar-time-cell-width: $padding-card;
$calendar-cell-border-width: $thin-border-size;
$calendar-main-width-start: $calendar-cell-width * 5;

.calendarTable {
  --calendar-main-width: #{$calendar-main-width-start};
  --wrapper-width: 0px;

  display: grid;
  position: relative;

  grid-template-areas:
    'time wrapper'
    'time wrapper';

  grid-template-columns: $calendar-time-cell-width auto;
  grid-template-rows: $calendar-cell-height auto;

  margin-right: $padding-card;
  margin-left: $padding-card;
  padding-bottom: $thin-border-size; // * 2;

  &.hidden {
    visibility: hidden;
  }

  &.unloaded {
    visibility: hidden;
  }

  .wrapper {
    --positions-count: 10;

    display: grid;
    grid-area: wrapper;
    position: relative;

    grid-template-columns: auto;
    grid-template-rows: $calendar-cell-height auto;

    box-shadow: 0 0 0 1px black;

    grid-template-areas:
      'positions'
      'main';

    overflow: hidden;

    .positionsRow {
      display: grid;
      grid-area: positions;

      grid-template-columns: repeat(var(--positions-count), 1fr);
      grid-template-rows: repeat(auto-fit, $calendar-cell-height);

      width: var(--calendar-main-width);

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 23px;
      }
    }

    .stickyContainer {
      position: fixed;
      top: 1px;
      overflow-x: hidden;
      box-shadow: 0 0 0 1px black;
      width: var(--wrapper-width);

      &.dockBottom {
        position: absolute;
        bottom: 0;
        top: unset;
        z-index: 100;
      }

      &.dockTop {
        position: absolute;
        top: 0;
        z-index: 100;
      }

      &.hidden {
        visibility: hidden;
      }
    }

    .mainGrid {
      display: grid;
      grid-area: main;

      grid-template-columns: repeat(var(--positions-count), 1fr);
      grid-template-rows: repeat(auto-fit, $calendar-cell-height);

      width: var(--calendar-main-width);

      .item {
        font-size: 20px;
      }
    }
  }

  .timeColumn {
    display: grid;
    grid-area: time;

    .item {
      display: flex;
      height: $calendar-cell-height;

      align-items: center;
      justify-content: center;
    }
  }

  .item {
    // display: grid;
    position: relative;
    background: lightgray;
    font-size: 16px;
    box-shadow: 0 0 0 1px black;
    overflow: visible;
  }

  .calendarCell {
    background: lightgray;
  }

  .personCell {
    position: absolute;
    left: 0px;
    top: 0px;

    background: rgb(255, 255, 227);
    // border: solid darkcyan 1px;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &.moving {
      position: fixed;
      z-index: 100;
    }
  }
}
