@import '@material/elevation/mdc-elevation';
@import 'bio.scss';
@import 'card.scss';
@import 'style.scss';

$padding-horizontal: 8px;
$move-back-duration: 1s;
$points-circle-size: 16px;

.table {
  @extend .non-selectable;

  display: table;
  table-layout: fixed;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  border: solid lightgray;
}

.table-title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: solid lightgray;
  border-width: thin;
}

.personCell {
  background: white;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  display: flex;
  justify-content: space-between;
  transition: background 0.5s;
}

.personCell:hover {
  background: rgb(243, 243, 243);
  transition: background 0.5s;
}

.personCell.isDragging {
  @extend .mdc-elevation--z8;
  transition: box-shadow 0.3s ease-in-out, background 0.5s;
  z-index: 999;
  position: absolute;
}

.personCell.readyToBeDropped {
  background: rgb(241, 247, 255);
  transition: background 0.5s;
}

.personCell.movingBack {
  transition: all $move-back-duration, background 0.5s;
  pointer-events: none;
}

.calendarCell.readyToGetDrop {
  background: rgba(191, 210, 255, 0.3);
  transition: background 0.5s;
}

.calendarCell {
  text-align: center;
  transition: background 0.5s;
}

.calendarCell .block {
  display: inline-block;
  text-align: center;
}

.calendarCell .text-info {
  display: inline-block;
  position: relative;
  text-align: left;
  transform: translateY(25%);
}

.calendarCell .text-info .primary-info {
  font-size: 15px;
}

.calendarCell .text-info .secondary-info {
  font-size: 10px;
  color: lightgray;
}

.calendarCell .points {
  $padding-rate: 25;
  $left-margin: 15px;

  // make it centered vertically
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;

  width: $points-circle-size;
  height: $points-circle-size;
  padding: $points-circle-size / 3 - $points-circle-size / $padding-rate;

  background: rgba(221, 221, 221, 0.514);
  text-align: center;

  font-size: $points-circle-size - $points-circle-size / $padding-rate;

  margin-left: $left-margin;
}

.avatar {
  @extend .avatar;

  .calendarCell & {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    display: inline-block;
  }
}
