@import '@material/elevation/mdc-elevation';
@import 'icons.scss';
@import 'bio.scss';
@import 'card.scss';
@import 'style.scss';
@import 'root.scss';
@import 'colors.scss';
@import 'fonts.scss';
@import 'animations.scss';
@import 'node_modules/mathsass/dist/math';

$move-back-duration: 1s;
$points-circle-size: 30px;
$calendar-cell-width: 300px;
$calendar-cell-width-real: $calendar-cell-width + $thin-border-size * 2;
$calendar-cell-height: 70px + 5px;
$calendar-cell-height-real: $calendar-cell-height + $thin-border-size * 2;
$calendar-cells-per-page: 3;
$calendar-cell-padding: 10px;
$calendar-avatar-diameter: 50px + 5px;
$add-cell-button-left-margin: 27px;
$add-cell-button-right-margin: 35px;
$add-cell-button-width: 26px;

:export {
  calendarCellWidth: $calendar-cell-width;
  calendarCellWidthReal: $calendar-cell-width-real;
  calendarCellHeight: $calendar-cell-height;
  calendarCellHeightReal: $calendar-cell-height-real;
}

.calendar-footer {
  margin-left: $padding-card + $padding-normal * 2;
  padding-top: $padding-normal * 2;
  // padding-bottom: $padding-normal * 2;
  display: inline-block;
}

.calendar-footer .primary-info {
  @extend .font-header-bold;
}

.calendar-footer .secondary-info {
  @extend .font-secondary;
  vertical-align: top;
}

.calendar-day:focus {
  outline: none;
}

.calendar-card {
  // padding-bottom: $padding-normal * 4;
  // position: relative;
  overflow: hidden;
  margin: -$padding-card;
  margin-bottom: $padding-card;
  // width: auto;
}

.calendar-day-divider {
  margin-top: $padding-normal * 2;
}

.calendar-table {
  @extend .non-selectable;

  display: block;
  table-layout: fixed;
  overflow-x: hidden;
  white-space: nowrap;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-right: $padding-card;
  margin-left: $padding-card;
  padding-bottom: $thin-border-size;
  padding-left: $thin-border-size;
  padding-top: 0;
  width: ($calendar-cell-width + $thin-border-size) * $calendar-cells-per-page +
    $thin-border-size;
  // width: 100%;

  // FIXIT: fix bug with little zoom (~70%) when right border disappears
}

.calendar-table-title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
}

.calendar-table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.calendar-table-row {
  display: table-row;
  overflow: hidden;
}

.calendar-table-cell {
  @extend .calendar-border;
  display: table-cell;
  white-space: nowrap;
  // height: $calendar-cell-height;
  padding: 0;
}

.calendar-border {
  border: dotted $color-secondary-border;
  border-width: $thin-border-size;
  // box-sizing: border-box;
  // outline: $thin-border-size dotted $color-secondary-border;
  // outline-offset: -$thin-border-size;
}

.calendar-table-cell.positionCell {
  @extend .font-primary-semibold;

  border: none;
  // outline: none;
  padding-left: $padding-normal * 2;
  // padding-bottom: $padding-normal * 2;
  height: $padding-card;
  line-height: $padding-card;
  // here you can control if non-first headers will be displayed
  // display: none;

  .calendar-table.first & {
    display: table-cell;
  }
}

.calendar-table-cell.timeCell {
  @extend .font-primary-semibold;

  border: none;
  // outline: none;
  // padding-left: 0;
  // padding-left: 0; //$padding-normal;
  // padding-right: $padding-normal * 2;
  text-align: center;
  position: absolute;
  // width: $padding-card;
  left: 0; //$padding-card / 4;
  height: $calendar-cell-height;
  width: $padding-card;
}

.secondaryTime {
  @extend .font-secondary-little;
  vertical-align: top;
}

.calendarCell-container {
  padding-left: $calendar-cell-padding;
  padding-right: $calendar-cell-padding;
  display: flex;
  justify-content: space-between;
  height: $calendar-cell-height;
}

.personCell {
  background: $color-calendar-cell-background;
  transition: background 0.5s;
}

.personCell.isDragging {
  box-shadow: 10px 10px 30px 4px #eee;
  transition: box-shadow 0.3s ease-in-out, background 0.5s;
  z-index: 999;
  position: absolute;
}

.personCell.readyToBeDropped {
  background: $color-calendar-cell-ready-to-be-dropped;
  transition: background 0.5s;
}

.personCell.movingBack {
  transition: all $move-back-duration, background 0.5s;
  pointer-events: none;
}

.calendarCell.readyToGetDrop {
  background: $color-calendar-cell-ready-to-get-drop;
  transition: background 0.5s;
}

.calendarCell {
  // position: relative;
  display: inline-block;
  text-align: center;
  transition: background 0.5s;
  width: $calendar-cell-width;
  max-width: $calendar-cell-width;
  // height: $calendar-cell-height;
  animation: appear-animation $animation-duration-opacity;
}

.calendarCell .wrapper-block {
  display: inline-block;
  text-align: center;
}

.content-block {
  // make it centered vertically
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.calendarCell .text-info {
  display: inline-block;
  position: relative;
  text-align: left;
  transform: translateY(25%);
}

.calendarCell .text-info .primary-info {
  @extend .font-primary-semibold;
}

.calendarCell .text-info .primary-info .visitsCount {
  @extend .font-secondary-little-semibold;
  color: black;
  vertical-align: top;
}

.calendarCell .text-info .primary-info .grade {
  @extend .font-primary-bold;
}

.calendarCell .text-info .secondary-info {
  @extend .font-secondary-middle;
}

.calendar-table-cell.draggingOrigin {
  // border-style: dashed;
  // border-width: $thin-border-size;
  // outline-style: dashed;
}

.calendar-table-cell.locked {
  $lines-count: 10;
  $line-width: $thin-border-size;
  $step: $thin-border-size * 10;
  $space-between: ($calendar-cell-width / ($lines-count));
  $angle: 45deg;

  background-image: repeating-linear-gradient(
    -$angle,
    #ccc,
    #ccc $thin-border-size,
    transparent $thin-border-size,
    transparent $step
  );
}

.calendarCell.draggingOrigin {
  margin: -$thin-border-size;
  box-shadow: inset 0 0 0 $thin-border-size $color-select-border;
}

.calendarCell .points {
  @extend .font-points-circle;

  display: inline-block;
  width: $points-circle-size;
  max-width: $points-circle-size;
  height: $points-circle-size;
  // padding: $padding-normal;
  border-radius: 50%;

  // TODO: make it normally
  // font-size: $points-circle-size / 4; //11pt
  line-height: $points-circle-size;
  font-weight: bold;

  text-align: center;

  background: $color-calendar-points-background;
}

.avatar {
  @extend .avatar;

  .calendarCell & {
    width: $calendar-avatar-diameter;
    height: $calendar-avatar-diameter;
    object-fit: cover;
    margin-left: 0;
    margin-top: $padding-normal;
    margin-bottom: $padding-normal;
    margin-right: $calendar-cell-padding;
    display: inline-block;
  }
}

.calendar-table-cell.readyToAdd {
  // border: $thin-border-size * 3 solid $color-select-border;
  // box-sizing: border-box;
  // border-collapse: collapse;
  // outline: $thin-border-size solid $color-select-border;
  // outline-offset: -$thin-border-size;
  background: $color-select-background;
}

.calendar-table-cell.readyToAdd:active {
  background: $color-select-tap-background;
}

.readyToAddCell .content-block {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.readyToAddCell {
  // border: $thin-border-size solid $color-select-border;
  // box-sizing: border-box;
  // border-collapse: collapse;

  margin: -$thin-border-size;
  box-shadow: inset 0 0 0 $thin-border-size $color-select-border;

  height: $calendar-cell-height-real;
  width: $calendar-cell-width-real;
  position: absolute;
  text-align: center;
  left: 0px;
  top: 0px;
  // animation: appear-animation $animation-duration-opacity * 2// ease-in-out;
}

.readyToAddCell .content-block .addButton {
  position: absolute;
  color: $color-select-border;
  left: $add-cell-button-left-margin;
  font-size: $add-cell-button-width;

  margin-left: -1 * get-negative-margin-plus-icon($add-cell-button-width);
  padding: 0;
}

.readyToAddCell .content-block .text {
  @extend .font-secondary;
  position: absolute;
  left: $add-cell-button-left-margin + $add-cell-button-right-margin +
    $add-cell-button-width -
    get-negative-margin-plus-icon($add-cell-button-width);
  // margin-left: -$add-cell-button-width;
}
