@import '@material/card/mdc-card';
@import '@material/elevation/mdc-elevation';

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: var(--padding-base);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.card {
  @extend .mdc-card, .mdc-elevation--z8;
  padding: 20px;
}
