@import 'colors.scss';
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:semibold,bold,light');

@font-face {
  font-family: 'Open Sans';
  src: url('/src/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/src/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('/src/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('/src/fonts/OpenSans-Light.ttf') format('truetype');
}

.font-header {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.font-header-bold {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-size: 25px;
}

.font-primary {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.font-primary-semibold {
  font-size: 13px;
  font-family: 'Open Sans SemiBold', sans-serif;
}

.font-primary-bold {
  font-size: 13px;
  font-family: 'Open Sans Bold', sans-serif;
}

.font-secondary {
  font-size: 16px;
  font-family: 'Open Sans Light', sans-serif;
  color: $color-secondary-text;
}

.font-points-circle {
  font-size: 11px;
  font-family: 'Open Sans SemiBold', sans-serif;
}

.font-secondary-middle {
  font-size: 12px;
  font-family: 'Open Sans Light', sans-serif;
  color: $color-secondary-text;
}

.font-secondary-little {
  font-size: 9px;
  font-family: 'Open Sans Light', sans-serif;
  color: $color-secondary-text;
}

.font-secondary-little-semibold {
  font-size: 9px;
  font-family: 'Open Sans SemiBold', sans-serif;
  color: $color-secondary-text;
}
