@import 'style.scss';
@import 'root.scss';
@import 'colors.scss';
@import 'fonts.scss';

$card-padding-horizontal: 20px;
$card-padding-vertical: 25px;
$divider-width: 5px;
$event-margin-vertical: 35px;
$event-margin-horizontal: 17px;
$event-padding-vertical: 10px;
$event-padding-horizontal: 20px;
$date-padding-vertical: 15px;

.history-card {
  width: 600px;
  background: #f5f4f1;
  padding: $card-padding-vertical $card-padding-horizontal;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

.history-add-block {
  overflow: hidden;
  transition: max-height 2s ease-out;
  height: auto;
  max-height: 600px;
}

.history-add-block.collapsed {
  max-height: 0;
}

.history-title {
  width: 50%;
  text-align: left;
  margin-left: 0px;
  font-size: 20px;
  color: #170000;
}

.history-event {
  width: 50%;
  padding: $event-margin-vertical 0;
}

.history-event .content {
  background: #ebeae8;
  padding: $event-padding-vertical $event-padding-horizontal;
  text-align: left;
  font-size: 14px;

  & :last-child {
    margin-bottom: 0;
  }
}

.history-event .content {
  --tick-color: gray;
  border-left: solid var(--tick-color) 3px;
  color: #474747;
}

.history-event-title {
  color: #000000;
}

.history-event.even {
  margin-left: calc(50% - #{$divider-width} / 2);
  box-sizing: border-box;
  border-left: solid #ebeae8 $divider-width;
  padding-left: $event-margin-horizontal;
}

.history-event.odd {
  width: calc(50% + #{$divider-width} / 2);
  box-sizing: border-box;
  padding-right: $event-margin-horizontal;
  border-right: solid #ebeae8 $divider-width;
}

.history-date {
  background: transparent;
  font-size: 14px;
  display: inline-block;
  color: #595959;
  margin: $date-padding-vertical 0;
}

@keyframes scaleFromTop {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
