$padding-normal: 0.5em;
$padding-card: $padding-normal * 8;
$thin-border-size: 0.0625em; // 1px

.elevation-max {
  @extend .mdc-elevation--z16;
}

.elevation-normal {
  @extend .mdc-elevation--z8;
}

.elevation-min {
  @extend .mdc-elevation--z4;
}
