@import 'root.scss';

.mdc-card {
  padding: 1rem;
}

body {
  @extend .font-primary;
  background: #faf9f7;
  overflow-x: hidden;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: rgb(0, 17, 255);
}

.forIcon {
  vertical-align: top;
}

.material-icons.smallIcon {
  font-size: 9px;
}

.material-icons.smallIcon.blackIcon {
  color: black;
}

.linkAsText {
  margin: 0 auto;
  text-align: center;
}

.linkAsText:link {
  color: gray;
}

.linkAsText:visited {
  color: gray;
}

i,
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #ebebeb radial-gradient(circle, transparent 1%, #e6e6e6 1%)
    center/15000%;
}
.ripple:active {
  background-color: #888888;
  background-size: 100%;
  transition: background 0s;
}

i {
  border-radius: 50%;
  padding: 3px;
}

.non-selectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
